<ion-header>
  <ion-navbar>
<ion-row>
  <ion-col style="text-align: left">
    <button ion-button clear color="primary"  *ngIf="user.name" (click)="displayMenu($event)" ><b>{{user.name}}</b></button>

  </ion-col>
  <ion-col style="text-align: right">
        <img src="assets/wa-logo2.svg" width="130px" style="margin-right:10px ;display:inline-block" height="50px;"/>

</ion-col>
</ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid>
  <ion-row responsive-sm>
    <ion-col width-30>

      <ion-row>
        <ion-col col-4>
          <img [src]="client.url" width="160px" height="70px;"/>
        </ion-col>
        <ion-col>
          <ion-list>


  <ion-item style="max-width:120px" *ngFor="let si of selectedCheck; let i = index" >
    <ion-label>{{si.sid}}</ion-label>
    <ion-checkbox [(ngModel)]="selectedCheck[i].selected"></ion-checkbox>
  </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

  <ion-item style="max-width:300px">
  <ion-label>Start</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="start" [max]="end"></ion-datetime>
</ion-item>

  <ion-item style="max-width:300px">
  <ion-label>End</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="end" [min]="start" [max]="initial"></ion-datetime>
</ion-item>

<button ion-button round (click)="updateChart()" [style.background-color]='color' *ngIf="!loading">Apply</button>

              <ion-row>
                <ion-col>
<img src="assets/loading.gif" style="height:100px; margin: auto;
  display: block;"  *ngIf="loading">
                </ion-col>
      </ion-row>

    </ion-col>

        <ion-col width-50>

<h2>Top 10 heaviest transactions</h2>

      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="200" height="200" style="max-width:400px"
                    [data]="donChartData"
                    [labels]="donChartLabels"
                    [legend]="donChartLegend"
                    [chartType]="donChartType"
                    [options]="donChartOptions"
                    [colors]="[{ 
      backgroundColor: client.colors    }]"
                    (chartHover)="chartHovered($event)"></canvas>
        </div>
      </div>


    </ion-col>

  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row responsive-sm>
    <ion-col width-40>
      <h2>Top 10 transactions with most average memory usage</h2>

<canvas baseChart width="200" height="200" style="max-width:500px;"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="chartLegend"
                    [chartType]="chartType"
                    [colors]="    [{ 
      backgroundColor: 'rgba('+r+','+g+','+b+',0.6)',
      borderColor:'rgba('+r+','+g+','+b+',1)'
    }]"></canvas>

    </ion-col>
    <ion-col >
          <h2>Top 5 transactions with most average private memory usage</h2>

<canvas baseChart width="200" height="200" style="max-width:500px;"
                    [datasets]="chartData2"
                    [labels]="chartLabels2"
                    [options]="chartOptions"
                    [legend]="chartLegend"
                    [chartType]="chartType"
                    [colors]="    [{ 
      backgroundColor: 'rgba('+r+','+g+','+b+',0.6)',
      borderColor:'rgba('+r+','+g+','+b+',1)'
    }]"></canvas>

    </ion-col>
  </ion-row>

<ion-row responsive-sm>


</ion-row>


    </ion-grid>

</ion-content>
