<ion-header>

  <ion-navbar>
    <ion-row>
  <ion-col style="text-align: left">
    <button ion-button clear color="primary"  *ngIf="user.name" (click)="displayMenu($event)" ><b>{{user.name}}</b></button>

  </ion-col>
  <ion-col style="text-align: right">
        <img src="assets/wa-logo2.svg" width="130px" style="margin-right:10px ;display:inline-block" height="50px;"/>

</ion-col>
</ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list no-lines>
  <ion-item *ngFor="let item of messages" style=" margin: 2px" text-wrap>
      <p style="max-width:200px ; border-radius: 15px ;padding:10px; background-color: #387ef5; color:white" item-right *ngIf="!item.resp">
    {{ item.text }}
      </p>

      <p style="max-width:200px ; border-radius: 15px ;padding:10px; background-color: #32db64; color:white" *ngIf="item.resp">
    {{ item.text }}
      </p>

<!-- doughnut chart -->

        <div style="max-width:300px; max-height:300px" *ngIf="item.chart == 'don'">

        <canvas baseChart  
                    [data]="item.data.data"
                    [labels]="item.data.labels"
                    [legend]="donChartLegend"
                    [chartType]="donChartType"
                    [options]="donChartOptions"
                    [colors]="[{ 
      backgroundColor: client.colors    }]"></canvas>
      </div>

        <!-- line chart -->

      <div style="max-width:400px; max-height:300px" *ngIf="item.chart == 'line'">

         <ion-row  style="text-align: center; align-items: center; display: flex; vertical-align: middle;" [style.color]='color'>
               <ion-col><h1 style="font-size: 50px">{{item.data.data2}}</h1></ion-col>
         </ion-row>
         <ion-row>
           <ion-col>
    <canvas baseChart 
                [datasets]="item.data.data"
                [labels]="item.data.labels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [colors]="[ { 
      backgroundColor: 'rgba('+r+','+g+','+b+',0.2)',
      borderColor: 'rgba('+r+','+g+','+b+',1)',
      pointBackgroundColor: 'rgba('+r+','+g+','+b+',1)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgba('+r+','+g+','+b+',0.8)'
    }]"
                [chartType]="lineChartType"></canvas>
</ion-col>
  </ion-row>

    </div>

      <!-- bar chart -->

  <div style="max-width:500px; max-height:500px" *ngIf="item.chart == 'bar'">

<canvas baseChart height="250px"
                    [datasets]="item.data.data"
                    [labels]="item.data.labels"
                    [options]="chartOptions"
                    [legend]="chartLegend"
                    [chartType]="chartType"
                    [colors]="    [{ 
      backgroundColor: 'rgba('+r+','+g+','+b+',0.6)',
      borderColor:'rgba('+r+','+g+','+b+',1)'
    }]"></canvas>

  </div>

  <!--             -->


  </ion-item>
</ion-list>


</ion-content>

<ion-footer>

<ion-list inset style="max-height: 40px; padding:0; margin-bottom:5px; margin-top: 2px">
    <form [formGroup]="form" (ngSubmit)="sendMessage()">
<ion-item >

 <ion-input type="text" placeholder="Message" value="" formControlName="message"></ion-input>
 <button ion-button item-right round style="height: 30px; width: 80px" type="submit" [disabled]="!form.valid" *ngIf="!loading">Send</button>
 <img item-right src="assets/loading.gif" style="height:30px; margin: auto;
  display: block;"  *ngIf="loading">
</ion-item>
  </form>

</ion-list>
</ion-footer>