<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row style="max-width:70px" responsive-sm>
        <ion-col style="padding-top: 10px">
               <img src="http://dynamicot.mybluemix.net/images/IBM.svg" width="60px" style="margin-left:10px ;display:inline-block" height="50px"/>

        </ion-col>
        <ion-col>
   <h2>Watson Advisor</h2>
        </ion-col>
      </ion-row>
    </ion-title>
    <ion-buttons end>
  <!--<button ion-button small  *ngIf="user" (click)="logout()"><ion-icon name="log-out"></ion-icon></button>-->
  <button ion-button small color="primary"  *ngIf="user.name" (click)="displayMenu($event)"><b>{{user.name}}</b></button>

</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row responsive-sm>
    <ion-col width-50>
  <ion-item style="max-width:300px">
  <ion-label>Start</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="start" [max]="end"></ion-datetime>
</ion-item>

  <ion-item style="max-width:300px">
  <ion-label>End</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="end" [min]="start" [max]="initial"></ion-datetime>
</ion-item>

<button ion-button round (click)="updateChart()" style="background-color: green" *ngIf="!loading">Apply</button>

<img src="assets/loading.gif" style="height:100px" *ngIf="loading">

      <div style="color:green; text-align: center; align-items: center; display: flex; vertical-align: middle">
      <ion-grid>
  <ion-row responsive-sm>
    <ion-col><h1 style="font-size: 150px">{{totalDumps}}</h1></ion-col>
  </ion-row>
    <ion-row responsive-sm>
       <ion-col> <p>Dumps in range</p> </ion-col>
  </ion-row></ion-grid>
        </div>

    </ion-col>

    <ion-col width-50>

  <div class="col-md-6">
    <div style="display: block;">

        <h2>Number of Dumps in time</h2>

    <canvas baseChart width="200" height="100" style="max-width:600px;"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [colors]="lineChartColors"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
    </ion-col> 
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row responsive-sm>
    <ion-col width-40>
      <h2>Top 5 programs with more Dumps</h2>

<canvas baseChart width="200" height="200" style="max-width:500px;"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="chartLegend"
                    [chartType]="chartType"
                    [colors]="barChartColors"></canvas>

    </ion-col>
    <ion-col >
          <h2>Top 5 errors in Dumps</h2>

      <div class="col-md-6">
        <div style="display: block;">
<canvas baseChart width="200" height="200" style="max-width:500px;"
                    [datasets]="chartData2"
                    [labels]="chartLabels2"
                    [options]="chartOptions"
                    [legend]="chartLegend"
                    [chartType]="chartType"
                    [colors]="barChartColors"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

    </ion-col>
  </ion-row>

  <ion-scroll scrollX="true" style="height: 80px;" *ngIf="errorData.error">
<ion-row style="align-items: center; display: flex, margin:auto">
  

    <ion-grid style=" min-width: 1000px">

  <ion-row style="text-align: center;height:30px; background-color: 	green; color: white">
    <ion-col >Error</ion-col>
    <ion-col *ngFor="let d of errorData.data">{{d._id}}</ion-col>

  </ion-row >



    <ion-row  style="text-align: center; word-wrap: break-word; word-break: break-all;height:50px;">
    <ion-col >{{errorData.error}}</ion-col>
    <ion-col *ngFor="let e of errorData.data">{{e.value.count}}</ion-col>

    </ion-row>
</ion-grid>

</ion-row>
</ion-scroll>

    </ion-grid>


</ion-content>
