<!--
  Generated template for the Base page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.

http://dynamicot.mybluemix.net/images/ALFAGRES.svg
http://dynamicot.mybluemix.net/images/ARGOS.svg 184 255 58 [ 'rgba(184,255,58,0.8)', 'rgba(84,84,84,0.8)', 'rgba(105,116,124,0.8)', 'rgba(107,170,117,0.8)', 'rgba(132,221,99,0.8)', 'rgba(66,75,84,0.8)', 'rgba(198,161,91,0.8)', 'rgba(50,147,111,0.8)', 'rgba(148,197,149,0.8)', 'rgba(116,124,146,0.8)', 'rgba(150,125,105,0.8)', 'rgba(86,142,163,0.8)' ]
http://dynamicot.mybluemix.net/images/ATH.svg
http://dynamicot.mybluemix.net/images/AVAIL.svg
http://dynamicot.mybluemix.net/images/AVAILM.svg
http://dynamicot.mybluemix.net/images/AVIANCA.svg
http://dynamicot.mybluemix.net/images/BANCOLOMBIA.svg
http://dynamicot.mybluemix.net/images/CAFAM.svg 31 138 211 [ 'rgba(31,138,211,0.8)', 'rgba(120,192,224,0.8)', 'rgba(21,5,120,0.8)', 'rgba(14,14,82,0.8)', 'rgba(57,67,183,0.8)', 'rgba(11,57,84,0.8)', 'rgba(8,126,139,0.8)', 'rgba(64,78,124,0.8)', 'rgba(2,1,10,0.8)', 'rgba(42,157,143,0.8)', 'rgba(100,97,160,0.8)', 'rgba(163,120,113,0.8)' ] 
http://dynamicot.mybluemix.net/images/CAPACITY.svg
http://dynamicot.mybluemix.net/images/CARTONES.svg
http://dynamicot.mybluemix.net/images/CASA_LUKER.svg
http://dynamicot.mybluemix.net/images/CER.svg
http://dynamicot.mybluemix.net/images/COLOMBINA.svg
http://dynamicot.mybluemix.net/images/COLSUBSIDIO.svg
http://dynamicot.mybluemix.net/images/COMFANDI.svg
http://dynamicot.mybluemix.net/images/COMPENSAR.svg
http://dynamicot.mybluemix.net/images/CORONA.svg
http://dynamicot.mybluemix.net/images/CRYSTAL.svg
http://dynamicot.mybluemix.net/images/EDUARDONO.svg
http://dynamicot.mybluemix.net/images/EPA.svg
http://dynamicot.mybluemix.net/images/ERECOS.svg
http://dynamicot.mybluemix.net/images/FAMILIA.svg
http://dynamicot.mybluemix.net/images/GAS_OCCIDENTE.svg
http://dynamicot.mybluemix.net/images/GECOLSA.svg
http://dynamicot.mybluemix.net/images/GRUPO_ARGOS.svg
http://dynamicot.mybluemix.net/images/HARINERA.svg
http://dynamicot.mybluemix.net/images/IBM.svg
http://dynamicot.mybluemix.net/images/IBM_OCC.svg
http://dynamicot.mybluemix.net/images/INCESA.svg
http://dynamicot.mybluemix.net/images/LA14.svg
http://dynamicot.mybluemix.net/images/LAFRANCOL.svg
http://dynamicot.mybluemix.net/images/MCPOLLO.svg
http://dynamicot.mybluemix.net/images/MINEROS.svg
http://dynamicot.mybluemix.net/images/NUTRESA.svg
http://dynamicot.mybluemix.net/images/PALERMO.svg
http://dynamicot.mybluemix.net/images/SAP.svg
http://dynamicot.mybluemix.net/images/SOLLA.svg
http://dynamicot.mybluemix.net/images/SPRB.svg
http://dynamicot.mybluemix.net/images/SUAM.svg
http://dynamicot.mybluemix.net/images/SURAMERICANA.svg
http://dynamicot.mybluemix.net/images/UNIANDES.svg
https://upload.wikimedia.org/wikipedia/commons/e/e4/Logo_Bancolombia.svg 253 201 41 [ 'rgba(253,201,41,0.8)', 'rgba(78,89,140,0.8)', 'rgba(249,199,132,0.8)', 'rgba(255,140,66,0.8)', 'rgba(85,221,224,0.8)', 'rgba(110,235,131,0.8)', 'rgba(228,255,26,0.8)', 'rgba(255,221,161,0.8)', 'rgba(17,157,164,0.8)', 'rgba(243,66,19,0.8)', 'rgba(51,124,160,0.8)', 'rgba(62,195,0,0.8)' ] 



-->
<ion-header>
  <ion-navbar hideBackButton="true">


 <ion-grid>
<ion-row>
  <ion-col col-9>
    <ion-row >
     <button ion-button small clear  *ngIf="user" (click)="logout()" style="height: 40px"><ion-icon name="log-out"></ion-icon></button>
    <button ion-button clear color="primary"  *ngIf="user.name" style="height: 40px"><b>{{user.name}}</b></button>
    </ion-row>
  </ion-col>
  <ion-col style="text-align: right">
        <img src="assets/wa-logo2.svg" width="130px" style="margin-right:10px ;display:inline-block" height="50px;"/>

</ion-col>
</ion-row>
 </ion-grid>


  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
  <ion-row responsive-sm >

    <ion-col *ngFor="let cli of user.clients" text-center col-lg-3 col-md-6 col-sm-12 col-xs-12>
<ion-card style="min-height: 110px; min-width: 200px; max-width: 400px; padding-right: 10px;padding-left: 10px" (click)="goDashboard(cli)">
  <img [src]="cli.url"  />
</ion-card>

</ion-col>

    
  </ion-row>
</ion-grid>

</ion-content>
