<!--
  Generated template for the Availability page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>



  
<ion-row>
  <ion-col style="text-align: left">
    <button ion-button clear color="primary"  *ngIf="user.name" (click)="displayMenu($event)" ><b>{{user.name}}</b></button>

  </ion-col>
  <ion-col style="text-align: right">
        <img src="assets/wa-logo2.svg" width="130px" style="margin-right:10px ;display:inline-block" height="50px;"/>

</ion-col>
</ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row style="max-width: 200px; text-align: center;margin-left: auto;
    margin-right: auto;
    ">
<ion-col style="background-color: red; color:white">
  {{table.red}}
</ion-col>
<ion-col style="background-color: blue; color:white">
  {{table.blue}}
</ion-col>
<ion-col style="background-color: green; color:white">
  {{table.green}}
</ion-col>
<ion-col style="background-color: black; color:white">
  {{table.black}}
</ion-col>

  </ion-row>

  <h2> Systems Availability Details </h2>

  <ion-scroll scrollX="true" scrollY="true" style="min-height:400px; " >
<ion-row style="align-items: center; display: flex; margin:auto;">
  

    <ion-grid style=" min-width: 500px">

  <ion-row style="text-align: center;height:30px; background-color: 	green; color: white">
    <ion-col width-10>St</ion-col>
    <ion-col width-10>Type</ion-col>
    <ion-col width-80>System</ion-col>
  </ion-row >



    <ion-row *ngFor="let e of table.rows" style="text-align: center; word-wrap: break-word;" >
    <ion-col width-10><ion-icon name="square" color="secondary"></ion-icon></ion-col>
    <ion-col width-10>{{e.type}}</ion-col>
    <ion-col width-80>{{e.system}}</ion-col>

    </ion-row>
</ion-grid>

</ion-row>
</ion-scroll>

</ion-content>
